In [0]:
# Import statements
import pandas as pd
import numpy as np
import pprint
import json
from pandas.io.json import json_normalize
#import flat_table

# Data extraction

In [0]:
# Load JSON file into dataframe
data = pd.read_json('/content/drive/My Drive/frames.json')
df = pd.DataFrame(data)

In [3]:
df.head() # Looks like turns and labels are nested dictionaries

     user_id  ...                                             labels
0  U22HTHYNP  ...  {'userSurveyRating': 4.0, 'wizardSurveyTaskSuc...
1  U21E41CQP  ...  {'userSurveyRating': 3.0, 'wizardSurveyTaskSuc...
2  U21RP4FCY  ...  {'userSurveyRating': 2.0, 'wizardSurveyTaskSuc...
3  U22HTHYNP  ...  {'userSurveyRating': 5.0, 'wizardSurveyTaskSuc...
4  U21E41CQP  ...  {'userSurveyRating': 5.0, 'wizardSurveyTaskSuc...

[5 rows x 5 columns]

In [4]:
df['id'].nunique() # There are 1369 unique ID for the dialogue

1369

In [0]:
# labels is a nested dictionary
labels_df = json_normalize(df['labels'])

In [6]:
labels_df.head()

   userSurveyRating  wizardSurveyTaskSuccessful
0               4.0                        True
1               3.0                        True
2               2.0                       False
3               5.0                        True
4               5.0                        True

`userSurveyRating` - value that represents the user’s satisfaction with the Wizard’s service, ranging from 1 – complete dissatisfaction to 5 – complete satisfaction

`wizardSurveyTaskSuccessful` - boolean which is true if the wizard thinks at the end of the dialogue that the user’s goal was achieved

In [0]:
# Attempted json_normalize but kept getting the error: 'list' object has no attribute 'values'
# This happens because of list enclosing each of the dictionary.
#   - Multiple dictionaries with matching keys enclosed by a list.
#   - A dictionary with keys as columns and values in the form of list.

# Thus we try another approach
text_list = []
for item in df['turns']:
  text_list.append(item)
turns_df = pd.DataFrame(text_list)

In [158]:
turns_df.head(2) # Every row is a dialogue

                                                   0  ... 47
0  {'text': 'I'd like to book a trip to Atlantis ...  ...
1  {'text': 'Hello, I am looking to book a vacati...  ...

[2 rows x 48 columns]

In [0]:
turns_df.replace(np.nan,'',inplace=True) # Replace all null values

In [0]:
turns_df_T = turns_df.transpose() # Transposed the dataframe to have proper conversation turns

In [0]:
# Iterates through the data frame and gets all values with a text key
convo_text = ''
for i in turns_df_T:                                 # 1369 columns
  for j in range(0,48):                              # 48 rows
    try:
      get_text = turns_df_T[i][j].get('text')        # Gets the value from the corresponding key
      convo_text += get_text + ' '                   # Concatenates all text
    except AttributeError:
      convo_text += ''                               # Concatenates '' if there is no text key

# Data Preprocessing

In [166]:
# Now we have our conversation data
print(convo_text[0:888])

I'd like to book a trip to Atlantis from Caprica on Saturday, August 13, 2016 for 8 adults. I have a tight budget of 1700. Hi...I checked a few options for you, and unfortunately, we do not currently have any trips that meet this criteria.  Would you like to book an alternate travel option? Yes, how about going to Neverland from Caprica on August 13, 2016 for 5 adults. For this trip, my budget would be 1900. I checked the availability for this date and there were no trips available.  Would you like to select some alternate dates? I have no flexibility for dates... but I can leave from Atlantis rather than Caprica. How about that? I checked the availability for that date and there were no trips available.  Would you like to select some alternate dates? I suppose I'll speak with my husband to see if we can choose other dates, and then I'll come back to you.Thanks for your help